body{
  font-family: 'Lato', 'Arial', sans-serif;
}

.page{
  right:0;
  transition: right 160ms ease;
  position: relative;
}

.res-padding{
  max-width: 1024px;
  margin: 0 auto;
  padding:0 12px;
}

.scrolled-logo{
  opacity: 0;
}

.logo-wrapper{
  display:inline-flex;
}


.landing-banner{
  background-color:#525252;
  height:100vh;
  width: 100%;
  position: relative;

  background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%), url('../img/banner3.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-banner > .container{
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
}

.banner-header{
  font-weight: 700;
  font-size:56px;
  color:white;
  text-align: center;
  width: 100%;
  letter-spacing:-0.5px;
}

.banner-text{
  font-size: 24px;
  color:white;
  font-weight: 500;
  margin-top: 24px;
  line-height: 1.4;
  text-align: center;
  width: 100%;
}

.banner-link{
  position: absolute;
  font-weight: 700;
  font-size:24px;
  color:white;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  bottom:5%;

  transition: 160ms ease;
}

.banner-link:hover{
  color:#afafaf;
}

.banner-link i{
  margin-left:12px;
}

.section-header{
  font-size:36px;
  color:#121212;
  font-weight:600;
  margin-bottom: 24px;
}

.text-left{
  text-align: left;
}

.section-content{
  color:#121212;
  text-align: center;
  line-height: 1.8;
  font-size:20px;
}

.section-padding{
  padding: 80px 0;
}

.wrapper-grey{
  background-color:#fafafa;
}

.wrapper-white{
  background-color:white;
}

.wrapper-dark{
  background-color:#212c3d;
}

.no-jobs {
  padding: 36px;
  font-size: 24px;
  color: #121212;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  width: 100%;
}

.no-jobs i{
  margin-right:12px;
}

.job-li{
  border-top: 1px solid #efefef;
  width: 100%;
}

.job-a{
  padding: 36px;
  font-size:24px;
  color:#121212;
  display: flex;
  background-color: white;
}

.job-li:hover > a{
  /*border-left: 4px solid #27989f;*/
  color:#27989f;

  transition: 160ms ease;
}

.job-title{
  display:flex;
  margin-right:24px;
}

.job-location{
  font-size:16px;
  margin-left: auto;
  display:flex;
  -webkit-box-align: center;
  align-items: center;
}

#job-container{
  min-height:100vh;
}

.filter-form{

}

.filter-form li{
  cursor: pointer;
  padding: 16px 0;
  font-size:16px;
  color: #27989f;

  transition: 160ms linear;
}

.filter-form li:hover{
  color: #3fc3cc;

  transition: 160ms linear;
}

.filter-form .active{
  color:#3fc3cc;
  border-left: 2px solid #3fc3cc;
  padding-left:16px;
  transition: 160ms linear;
}

.filter-loc:first-child, .filter-dep:first-child{
  font-weight: 700;
}
#locFilter{
  margin-bottom:24px;
}
#depFilter{
  border-top: 1px solid #efefef;
  padding-top:24px;
}

.row{
  display: flex;
}

.openings-left-panel{
  flex: 20%;
  margin-right:12px;
}

.openings-right-panel{
  flex: 80%;
}

.hide-job{
  display:none;
}

.error-banner{
  background-color:#efefef;
  height:100vh;
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-container{
  min-height:100vh;
}

.error-header{
  text-align: center;
  font-size:36px;
}

.error-text{
  margin-top:24px;
  text-align: center;
  font-size:20px;
}

.temp-centralise{
  text-align: center !important;
}
