/* General */
* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  padding: 0px;
  margin: 0px;
  width: 100%;
  min-width: 320px;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

/* Fonts */

.banner-header h1{
  font-family: Lato, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: white;
}

.banner-header h2{
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #ff952e;
  margin-top:24px;
}

.black-font{
  font-size: 12px;
  font-weight: 500;
  color: #525252;
  line-height: 1.5;
}

/* Links */

a{color:#dfdfdf;}
a:link  {text-decoration: none; color: #dfdfdf;}
a:visited {text-decoration: none; color: #dfdfdf;}
a:hover {text-decoration: none; color: white;}
a:active {text-decoration: none; color: white;}

.logo{
  float:left;
  height: 20px;
  margin-right:12px;
  margin-top:18px;
}

/* Banner */

.banner-wrapper{
  width: 100%;
  padding: 0px;

  background: #0b2d2f url(https://cdn.walter.awsprod.workato.com/assets/home/header-cover-0d64ede24982bf92bc0ea75fcaaee235.svg) no-repeat 50% 0%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover 75%;
}

.banner-header{
  width: 100%;
  text-align: center;
  padding: 128px 20px 100px;
}

/* Buttons */

.buttons-wrapper{
  height: auto;
  width: 100%;
  background-color: #fafafa;
  padding: 100px 20px 100px 20px;
}

.button{
  border-radius:2px;
  height: 200px;
  width: 300px;
  display: float;
  background-color: white;
  margin: 10px 10px 0px 10px;
  text-align: center;
  position: relative;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  padding: 20px;
}

.button-home{

  height: 41px;
  width: calc(100% - 40px);
  background-image: none;
  border: 1px solid;
  border-radius: 2px;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  transition: 100ms ease;
  white-space: nowrap;
  color: white;
  text-shadow: none;
  box-shadow:none;
  background-color:#ff952e;
  border-color: #ff952e;
  padding-top: 6px;
  bottom: 20px;
  position: absolute;
  margin: 0 0px 0 0px;
}

.button-home:hover{
  background-color:#ff8815;
  -webkit-transition: background-color 200ms ease;
  -ms-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

/* App list */

#search-bar{
  height:48px;
  width: 100%;
  margin: 0 auto 0 auto;
  position: relative;
  border-bottom: 1px solid #e3e3e3;
}

.icon-container i{
  color: #d3d3d3;
  position: relative;
  top: 14px;
}

.icon-container{
  width:100%;
  max-width: 1024px;
  position: absolute;
  height: 0;
}

.icon-search{
  padding-left:12px;
}

.icon-cross{
  padding-right:12px;
  margin-top: -1px;
}

.icon-cross i{
  float:right;
  cursor: pointer;
}

.icon-cross i:hover{
  color:#27989f;
}

.search-form{
  width: 100%;
  max-width: 1024px;
  height: 100%;
  padding: 4px 0 0 48px;
  border: 0px solid #e3e3e3;
  border-radius: 2px;
}

.search-form:focus {
  outline: none !important;
  border:0px solid #27989f;
}

.list-wrapper{
  width: 100%;
  padding: 0px;
  background-color:#fafafa;
  padding-top:48px;
}

.list-header{
  width: 100%;
  text-align: center;
  padding: 80px 0 40px 0;
}

.container-wrapper{
  margin: 0 auto;
}

#app-wrapper{
  min-height: 100vh;
  width:100%;
  position: relative;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  margin: 0 auto;
}

#container-button{
  max-width: 1024px;
}

.container-left{
  width:75%;
  float:left;
  padding-bottom: 64px;
}

.container-right{
  width: calc(25% - 12px);
  float:right;
  padding-bottom:48px;
}


#container-build{
  background-color: white;
  padding: 30px 26px;
  color:#27989f;
  margin-bottom: 24px;
  transition: 100ms linear;
  border: 1px solid white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#container-build:hover{
  transition: 100ms linear;
  background-color: white;
  padding: 30px 26px;
  color:#27989f;
  margin-bottom: 24px;
  border: 1px solid #27989f;
  box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
}

.splitter {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 30px 0;
}

.splitter::before {
    margin-right: 10px;
}

.splitter::after {
    margin-left: 10px;
}

.splitter_big::before, .splitter_big::after {
    background: #f1f1f1;
    height: 2px;
}
.splitter::before, .splitter::after {
    background: #dadada;
    content: "";
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    height: 1px;
}

.splitte .splitter__text {
    text-transform: uppercase;
}

.splitter__text {
    color: #a8a8a8;
    cursor: default;
    display: inline-block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 14px;
    margin: 0;
}

#container-filter{
  width:100%;
  background-color: white;
  border-radius: 4px;
  padding:12px 24px;
}

.filter-section{
  width: 100%;
}

.filter-section h5{
  color:#525252;
  font-weight: 700;
  margin:12px 0;
}

.filter-section ul{
  width: 100%;
}

.filter-section ul li{
  padding:12px 0;
}

.filter-section ul li{
  color: #a8a8a8;
  font-size:14px;
}

.filter-section ul li span{
  display:inline-block;
  cursor: pointer;
}

.selected-input{
  color: #27989f;
}

.filter-section ul li input{
  display:inline-block;
}

.filter-active{
  color: #27989f !important;
}

.flex-dummy {
  height: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

#container-apps{
  list-style: none;
}

#container-apps>li {
  width: 70px;
  height: 100px;
  margin: 0 5% 70px;
  list-style: none;
  position: relative;
  transition: all 100ms ease-in-out;
}

#container-apps>li>a>img {
  width: 100%;
  height: 70px;
  border-radius: 2px;
  opacity: 1;
  background-size: auto 100%;
}

.app:hover .hoverContainer {
  transition: all 100ms ease-in;
  opacity: 1;
  visibility: visible;
  top:80px;
}
/* 
#container-apps>li:hover {
  height:160px;
} */

.hoverContainer{
  transition: all 100ms ease-in;
  visibility: hidden;
  opacity: 0;
  z-index:10;
  position: absolute;
  left: 50%;
  margin-left: -90px;
  width:180px;
  top:100px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.18);
  border-radius: 4px;
}

.property-filter{
  color: #27989f;
  padding-right: 4px;
  font-size:12px;
}

.property-value{
  font-size:12px;
}

.hover-name{
  text-align: center;
  font-weight: 700;
  padding: 12px 0;
  border-bottom: solid 1px #e2e2e2;
  color:#525252;
}

.hover-properties{
  padding: 12px;
  border-bottom: solid 1px #e2e2e2;
}

.hover-properties li{
  padding: 4px 0;
}

.hover-properties li span{
  display:inline-block;
}

.hoverContainer ul li a{
  padding: 12px;
  color:#525252;
  border: 1px solid #27989f;
  border-radius: 4px;
  margin: 12px 12px;
  white-space: nowrap;
}

.hoverContainer ul li a:last-child{
  color: #27989f;
  transition: 100ms ease-out;
}

.hoverContainer ul li a:hover{
  transition: 100ms ease-out;
  background-color: #27989f;
  color:white;
}

.hoverContainer-show{
  display:block;
}

.item-name{
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.filter-hidden{
  display: none;
}

.search-hidden{
  display: none;
}

/* Helper */
.helper{
  text-align: center;
  top:50%;
  padding:100px 12px;
  font-size:24px;
  color:#525252;
  line-height: 1.5;
}

.helper a{
  display:inline-block;
  text-decoration: none;
  color: #27989f;
}
/* Footer */

.footer{
  width: 100%;
  background-color:#212c3d;
  color:#efefef;
  text-align: center;
  line-height: 1.5;
}

.footer-links{
  width: 100%;
  text-align: center;
  color:#efefef;
}

.footer-links li{
  display:inline-block;
  color:#efefef;
  padding:12px;
  font-size: 14px;
}

.footer-links li a{
  color:#afafaf;
}

.footer-links li a:hover{
  color:#efefef;
}


.show{
  display:block !important;
}

.hide{
  display:none !important;
}

#no-result{
  display:none;
}

.no-result-text{
  text-align: center;
  display: block;
  font-size: 14px;
  color: #525252;
  line-height: 1.5;
}

@media only screen and (max-width: 720px) {
  .button{
    display: block;
  }

  h4{
    font-size: 18px;
    font-weight: 600;
    color: #27989f;
    margin: 10px 0 15px 0;
  }
  
  .hoverContainer{
    margin-left: -80px;
    width:160px;
  }

  .helper{
    font-size: 16px;
  }
}
@media only screen and (max-width: 1024px) {
  .container-left{
    width: 100%;
  }
  .container-right{
    width:100%;
    margin-bottom:12px;
  }

  .filter-section ul li{
    display:inline-block;
    margin-right:18px;
  }

  .filter-section ul li span{
    margin-left:6px;
  }
}
